<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <% include ./head %>
        </header>
        <main>
            <%- body %>
        </main>
        <footer>
            <% include ./footer %>
        </footer>
    </body>
</html>